{{define "main"}}
{{template "header" .}}
<div class="content text-center">
	<h2>TinyURL</h2>
	<div class="form-group">
        Welcome to <i>TinyURL</i>, make the web small.
        <form action="/shorten" method="post">
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="form-group col-xs-4">
                    <input type="email" class="form-control input-lg" id="longURL" placeholder="https://www.example.com" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Shrink it!</button>
        </form>
    </div>
</div>
{{template "footer" .}}
{{end}}
